<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
</head>


<body ng-app="">


    <style>
        input.ng-invalid.ng-touched {
            background-color: lightcoral;
        }

        input.ng-valid.ng-dirty {
            background-color: lightgreen;
        }
    </style>
    <form name="userForm">
<!--         <pre>
    {{userForm | json}}
        </pre> -->

        <input type="text" placeholder="Add task" ng-model="userInput" ng-minlength="5" required class="form-control">
        <p ng-show="userForm.text.$invalid && userForm.text.$touched" >
            Merci de respecte 5 caractères minimum
        </p>
        <!--<br> {{userInput}}-->
        <br>
        <button ng-click="taches.push({text:userInput, complete:false})" ng-disabled="!userInput">add</button>
        <hr>
    </form>

    <div ng-init="taches=[{text:'A', complete:false},{text:'B', complete:true}]">
        <ul>

            <pre><code>
                <!-- affiche la structure du tableau au format json, pratique pour debuguer-->
                    {{taches | json}}
            </code></pre>
            <li ng-repeat="t in taches track by $index">
                <span>{{t.text}}</span>
                <input type="checkbox" ng-checked="t.complete" ng-model="t.complete">
                <!-- $index est une des variable fournie par angular sur ng-repeat -->
                <button ng-click="taches.splice($index,1)">X</button>
                <br>
            </li>
        </ul>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</body>

</html>