<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Receipes</title>
</head>
<style>
    div,main{
        border: 5px solid lightgray;
        padding:25px;
    }
</style>

<body ng-app="main">

    *{{rootValue}}*-*{{stringValue}}*-*{{objectValue}}*

    <main ng-controller="MainController">
        *{{rootValue}}*-*{{stringValue}}*-*{{objectValue}}*

        <div ng-controller="AppController">
            {{value}}
            <hr> *{{rootValue}}*-*{{stringValue}}*-*{{objectValue}}*
            <button ng-click=" value = value + 10 ">+</button>
            <button ng-click=" stringValue = stringValue + '🦄' ">🦄</button>
            <button ng-click=" objectValue.text = objectValue.text + '👑' ">👑</button>
        </div>
        <hr>
        <div ng-controller="AppController">
            {{value}}
            <hr> *{{rootValue}}*-*{{stringValue}}*-*{{objectValue}}*
            <button ng-click=" value = value + 10 ">+</button>
            <button ng-click=" sendEvent() ">Grootify</button>
        </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="main.js"></script>
</body>

</html>