<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todolist</title>
    
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    
</head>

<body ng-app 
 ng-init="tasks = [{text:'A',complete:false},{text:'B',complete:true}]">

    <style>
        body{
            background: url(http://picsum.photos/800);
            background-size: cover;
            height: 100vh;
            width:100vw;
        }
        input.ng-invalid.ng-touched{
            background: rgb(238, 72, 72);
        }
        input.ng-valid.ng-dirty{
            background: lightgreen;
        }
    </style>
    <form name="userForm">
        <!-- <pre>
        {{userForm.text | json }}
    </pre> -->
        <input type="text" placeholder="Add Something..." 
        ng-model="userInput"
        name="text"
        ng-minlength="5"
        ng-pattern="/^[A-Z][a-z\s]{3,}$/"
        required
        class="form-control">
        <p class="alert alert-danger"
            ng-show="userForm.text.$invalid && userForm.text.$touched ">
            Merci de respecte 5 caratères minimum
        </p>
<!--         <br>
        {{userInput}} -->
        <br>
        <button 
            class="btn btn-success btn-block btn-lg"
            ng-click="tasks.push({text:userInput,complete:false})"
            ng-disabled=" userForm.$invalid "
            >Add</button>
    </form>

    <hr>

    <ul class="list-group">
<!--         <pre><code>
            {{tasks | json}}
        </code></pre> -->
        <li ng-repeat="t in tasks track by $index" class="list-group-item">
            <span>{{t.text}}</span>
            <input type="checkbox" ng-checked="t.complete" ng-model="t.complete">
            <button ng-click=" tasks.splice($index,1) ">
                <!-- i.glyphicon.glyphicon-trash -->
                <i class="glyphicon glyphicon-trash"></i>
            </button>
        </li>
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</body>

</html>