<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- bs3css<Entrer> Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">


</head>

<body>

    <!-- ng-app active une surveillance de la balice (ici body) 
        association/binding de valeur
        pour interpreter le {{1+1}} et cela affiche 2, on utilise les {{}}
    -->
    {{1+1}}

    <h1>Todolist</h1>

    <hr>

    <input type="text" id="name" ng-model="search">
    <br>
    <span ng-show="search">{{search}}
        <button ng-click="search = '' ">Clear</button>
    </span>


    <ul>
        <li>Lorem, ipsum.</li>
    </ul>

    <!-- en utilisant emmet on cree une ligne div.main>ul>li*11>lorem2 qui donne en résultat après completion, ceci -->
    <div class="main">
        <ul>
            <li>Lorem, ipsum.</li>
            <li>Facilis, minus?</li>
            <li>Asperiores, repellat.</li>
            <li>Itaque, cum.</li>
            <li>Aliquid, dolore?</li>
            <li>Eligendi, nisi.</li>
            <li>Numquam, aspernatur?</li>
            <li>Ducimus, explicabo?</li>
            <li>Minus, beatae.</li>
            <li>Autem, ab.</li>
            <li>Nostrum, voluptatem?</li>
        </ul>
    </div>

    <div class="class" ng-init="names=['No Types', 'scaffolding', 'DOM','emmet']">
        <ul>
            <li ng-repeat="n in names | filter : search">
                <!-- permet de filtrer les resultats par rapport à ce qui est saisis dans le 'search' -->
                {{n}}
                <code ng-click="open = !open">More {{open}}</button> <!-- code est un element comme un boutton, cliquable -->
                <div ng-if="open"> <!-- evaluable vers true, exemple: 1, chaine non vide-->
                    <!-- à l'opposé, évaluable vers false, on a null, "", 0, etc... -->
                   Please refer to:  <a href="https://developer.mozilla.org/fr/docs/Web/JavaScript">Reference</a>
                </div>
            </li>
        </ul>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!-- equivalent de ng-app="" dans body -->
<script>
    angular.bootstrap(document.body, [])
</script>
</body>
</html>